@import url('https://fonts.googleapis.com/css2? family= Kanit & display=swap');
*{
    margin: 0;
    padding: 0;
}

:root {
    --main-font: 'Kanit', sans-serif;
    --main-light-color: #f0ffff;
    --sec-light-color: #808080;
    --main-dark-color: black;
    --sec-dark-color: 	#FFFFFF;
    --orange-themed: #ff6600;
    --purple-themed: #551a8b;
    --blue-themed: #007BFF;
    --dark-themed: #1d1e22;
    --titles: 5.5em;
    --subtitles: 3em;
    --normal-text: 1.1em;
    --main-listyle: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--main-light-color);
    font-family: var(--main-font);
    font-size: var(--normal-text);
    min-height: 100vh;
}

h1 {
    font-size: var(--titles);
}

h2 {
    font-size: var(--subtitles);
}

p {
    font-size: var(--normal-text);
}