main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

#main_title {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--blue-themed);
    border-radius: 20px;
    color: var(--dark-themed);
}

#main_section {
    display: flex;
    flex-direction: row;
}

#main_img {
    display: inline-block;
    position: relative;
    height: fit-content;
}

#myself {
    opacity: 100%;
    transition: 1s;
}

#subtitle {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: var(--sec-light-color);
    bottom: 15px;
    opacity: 0;
    font-style: italic;
    transition: 1s;
}

#main_img:hover #myself {
    opacity: 65%;
}

#main_img:hover figcaption {
    opacity: 1;
}

#main_div {
    display: flex;
    flex-direction: column;
    width: 70%;
}

#main_write {
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: var(--dark-themed);
}

#main_text {
    border-left: 3px double var(--sec-light-color);
    padding: 30px 0px 30px 20px;
    width: 75%;
    transition: 3s;
    color: var(--sec-light-color);
}

/* #main_text:hover {

} */