main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    border: 10px solid red;
}

#main_title {
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: var(--blue-themed);
    border-radius: 20px;
    color: var(--dark-themed);
}

#main_section {
    display: flex;
    flex-direction: row;
    border: 10px solid green;
}

#main_div {
    display: flex;
    flex-direction: column;
    width: fit-content;
    border: 10px solid blue;
}

#main_write {
    width: fit-content;
    text-decoration: underline;
    text-decoration-color: var(--dark-themed);
    border: 10px solid yellow;
}

#main_text {
    border-left: 3px double var(--sec-light-color);
    padding: 30px 0px 30px 20px;
    border: 10px solid purple;
    width: 60%;
    transition: 3s;
    color: var(--sec-light-color);
}

/* #main_text:hover {

} */